.TM_PS_Wrapper {
	font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

.TM_PS_Wrapper .worryTitle {
	font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

.TM_PS_Wrapper .askLater_area_wording {
	font-size: 12px !important;
}