#TSRToolTipLayer
{
    font-family: "Arial" !important;
}

#TSRToolTipLayer #TSRToolTipRLString
{
	font-family: "Arial";
}

.TSRUntestURLWindow {
	font-family: "Arial" !important;
}

.TSRUntestURLWindow_Wrapper .titleArea {
	font-family: "Arial" !important;
}

.TSRUntestURLWindow_Wrapper .descriptionArea .description {
	font-family: "Arial" !important;
}

.TSRImageBlock_Wrapper{
	font-family: "Arial" !important;
}

#TSRToolTipLayer #TSRToolTipTitle .TSRProductTitle
{
    font-size: 10px !important;
    margin-right:0px !important;
}

.TSRImageBlock_footer_productName{ 
    font-size: 10px !important;
}