#TM_PS_FACEBOOK{
	width: auto !important;
}

#TM_PS_NEW_FACEBOOK{
	width: 613px !important;
}

#TM_PS_TWITTER{
	width: auto !important;
}

#TM_PS_GOOGLEPLUS{
	width: auto !important;
}

#TM_PS_LINKEDIN{
	width: auto !important;
}

/*
	this rule is also defined in l10n.css. Change this rule should also change related one in that file.
*/
.TM_PS_Wrapper {
	font-family: "Arial" !important;
	position: relative !important;
	padding: 25px 20px 20px 25px !important;
	border: solid 1px rgba(68,68,68,.4) !important;
	background: #fff !important;
	box-shadow: 0px 1px rgb(51,51,51) !important; /* IE 8 hack */
	box-shadow: 0px 1px rgba(51,51,51,.1) !important;
	margin-bottom: 20px !important;
	line-height: normal !important;
}

.TM_PS_Wrapper_facebook {
	border-radius: 3px;
}

.TM_PS_Wrapper_twitter {
	border-radius: 6px;
}

.TM_PS_Wrapper_googlePlus {
	border-radius: 3px;
}

.TM_PS_Wrapper_linkedin {
	border-radius: 0px;
}

.TM_PS_Wrapper_headerArea{
	position: relative !important;
	overflow: hidden !important;
}

.TM_PS_Wrapper_headerAreaRight{
	float: right !important;
	width: 72px;
	height: 72px;
}

.TM_PS_Wrapper .title {
	font-size: 13px !important;
	color: #888 !important;
	margin-bottom: 20px !important;
}

.TM_PS_Wrapper .close{
	position: absolute !important;
	width: 20px !important;
	height: 20px !important;
	top: 10px !important;
	right: 10px !important;
	background-position: 0px 0px;
}

/*
	this rule is also defined in l10n.css. Change this rule should also change related one in that file.
*/
.TM_PS_Wrapper .worryTitle {
	font-family: "Arial" !important;
	font-size: 21px !important;
	color: #222 !important;
	margin-bottom: 14px !important;
}

.TM_PS_Wrapper .worryRecommend {
	font-size: 13px !important;
	color: #666 !important;
	margin-bottom: 30px !important;
}

.TM_PS_Wrapper .learnMore {
	margin-left:4px !important;
	cursor: pointer !important;
	color: #4a8db8;
}

.TM_PS_Wrapper .learnMore:hover {
	color: #3399cc;
}

.TM_PS_Wrapper .learnMore:active {
	color: #3399cc;
}

.TM_PS_Wrapper .TM_footer {
	overflow: hidden !important;
}

.TM_PS_Wrapper .checkMyPrivacy {
	float: left !important;
	font-size: 13px !important;
	font-weight: bold !important;
	padding: 0px 10px !important;
	line-height: 30px !important;
	margin: 0px 15px 2px 0px !important;
	
	text-align: center !important;
	display: inline-block !important;
	*display: inline !important;
	
	/*IE7 hack button border*/
	*+border: 0 !important;
	
	zoom: 1 !important;
	height: auto !important;
	cursor: pointer !important;
}

/*
	Facebook
*/
.TM_PS_btn_facebook {
	color: #FFF !important;
	text-shadow: 0px -1px rgb(0,0,0) !important; /* IE 8 hack */
	text-shadow: 0px -1px rgba(0,0,0,.3) !important;
	border-radius: 2px !important; 
	border: solid 1px #344b87 !important;
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
}

.TM_PS_btn_facebook:hover {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 2px 3px rgb(0,0,0) !important; /* IE 8 hack */
	box-shadow: 0 2px 3px rgba(0,0,0,.2) !important;
}

.TM_PS_btn_facebook:active {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 1px 1px rgb(34,34,34) !important; /* IE 8 hack */
	box-shadow: 0 1px 1px rgba(34,34,34,.2) !important;
}


/*
	new facebook
*/
.TM_PS_btn_new_facebook {
	color: #FFF !important;
	text-shadow: 0px -1px rgb(0,0,0) !important; /* IE 8 hack */
	text-shadow: 0px -1px rgba(0,0,0,.3) !important;
	border-radius: 2px !important; 
	border: solid 1px #344b87 !important;
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
}

.TM_PS_btn_new_facebook:hover {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 2px 3px rgb(0,0,0); /* IE 8 hack */
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.TM_PS_btn_new_facebook:active {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 1px 1px rgb(34,34,34); /* IE 8 hack */
	box-shadow: 0 1px 1px rgba(34,34,34,.2);
}


/*
	twitter
*/
.TM_PS_btn_twitter {
	color: #FFF !important;
	text-shadow: 0px -1px rgb(0,0,0) !important; /* IE 8 hack */
	text-shadow: 0px -1px rgba(0,0,0,.2) !important;
	border-radius: 3px !important; 
	border: solid 1px #4186c8 !important;
	box-shadow: 1px rgb(255,255,255); /* IE 8 hack */
	box-shadow: 1px rgba(255,255,255,.1);
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
}

.TM_PS_btn_twitter:hover {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 1px rgb(255,255,255); /* IE 8 hack */
	box-shadow: 1px rgba(255,255,255,.1);
}

.TM_PS_btn_twitter:active {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 1px 1px rgba(34,34,34,.2);
}


/*
	google+
*/
.TM_PS_btn_googlePlus {
	color: #FFF !important;
	text-shadow: 0px -1px rgb(0,0,0) !important; /* IE 8 hack */
	text-shadow: 0px -1px rgba(0,0,0,.2) !important;
	border-radius: 3px !important; 
	border: solid 1px #3158be !important;
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
}

.TM_PS_btn_googlePlus:hover {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 2px 3px rgb(0,0,0); /* IE 8 hack */
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.TM_PS_btn_googlePlus:active {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 1px 1px rgb(34,34,34); /* IE 8 hack */
	box-shadow: 0 1px 1px rgba(34,34,34,.2);
}


/*
	linkedin
*/
.TM_PS_btn_linkedin {
	color: #333 !important;
	text-shadow: 0px 1px rgb(255,255,255) !important; /* IE 8 hack */
	text-shadow: 0px 1px rgba(255,255,255,.4) !important;
	border-radius: 3px !important; 
	border: solid 1px #e7ae00 !important;
	box-shadow: 1px rgb(255,255,255); /* IE 8 hack */
	box-shadow: 1px rgba(255,255,255,.2);
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
}

.TM_PS_btn_linkedin:hover {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 1px rgb(255,255,255); /* IE 8 hack */
	box-shadow: 1px rgba(255,255,255,.2);
}

.TM_PS_btn_linkedin:active {
/*	background color is set in JS code to avoid overwritten by Facebook's own page style*/
	box-shadow: 0 1px 1px rgb(34,34,34); /* IE 8 hack */
	box-shadow: 0 1px 1px rgba(34,34,34,.1);
}


.TM_PS_Wrapper .askLater_area {
	float: left !important;
	display: block !important;
	margin-top: 5px !important;
	cursor: pointer !important;
}

.TM_PS_Wrapper .askLater_area_wording {
	float: left !important;
	font-size: 11px !important;
	color: #666 !important;
	margin: 3px 0px 0px 5px !important;
}

.TM_PS_Wrapper .askLater_area_input_notChecked{
	float: left !important;
	width: 20px;
	height: 20px;
	background-position: 0px 0px;
}

.TM_PS_Wrapper .askLater_area_input_notChecked:hover{
	background-position: 0px -20px;
}

.TM_PS_Wrapper .askLater_area_input_checked{
	float: left !important;
	width: 20px;
	height: 20px;
	background-position: 0px -40px;
}

.TM_PS_Wrapper .askLater_area_input_checked:hover{
	background-position: 0px -60px;
}

.TM_PS_Wrapper .logo {
	float: right !important;
	background: url('TM_logo.png') no-repeat 0px 0px;
	width: 68px !important;
	height: 22px !important;
	margin-top: 10px !important;
}