#TSRToolTipLayer
{
    font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

#TSRToolTipLayer #TSRToolTipRLString
{
	font-family: "Arial","微軟正黑體","新細明體","細明體";
}

.TSRUntestURLWindow {
	font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

.TSRUntestURLWindow_Wrapper .titleArea {
	font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

.TSRUntestURLWindow_Wrapper .descriptionArea .description {
	font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

.TSRImageBlock_Wrapper{
	font-family: "Arial","微軟正黑體","新細明體","細明體" !important;
}

#TSRToolTipLayer #TSRToolTipRLDetailed
{
	font-size:14px !important;
}

#TSRToolTipLayer #TSRToolTipTitle .TSRProductTitle
{
	font-size:14px !important;
}

#TSRToolTipLayer #TSRToolTipRLDetailedShare
{
	font-size:14px !important;
}

#TSRToolTipLayer #TSRCheckUrl
{
	font-size:14px !important;
}

.TSRImageBlock_body_title
{
	font-size:14px !important;
}

.TSRImageBlock_body_desc
{
	font-size:14px !important;
}

.TSRImageBlock_footer_productName
{
	font-size:14px !important;
}