/*framework*/
body {
	margin: 0px;
	min-width: 950px;
}

/*
 header
 */
div#header {
	background-color: #FFFFFF;
	height: 66px;
	border-top: 5px solid #e30919;
	border-bottom: 1px solid #CCCCCC;
}

.header_content_area {
	margin: 0px auto 0px auto;
	overflow: hidden;
	width: 950px;
}

.header_content_area_logo {
	margin: 16px 0px 0px 0px;
	float: left;
}

.header_content_area_logo_image{
	margin-bottom: 5px;
}

.header_logo_area_productName_image {
	margin-left: 3px;
}

.header_get_help{
	font-size: 12px;
	height: 15px;
	padding: 1px 0px 0px 21px;
	background: url('../img/icon_gethelp_s.png') no-repeat 0px 0px;
}

.header_get_help:hover {
	background: url('../img/icon_gethelp_s.png') no-repeat 0px -16px;
}

.header_content_area_getHelp{
	float: right;
	margin: 24px 0px 0px 0px;
	font-size: 13px;
	color: #686868;
	letter-spacing: -.02em;
	text-decoration: none;
	cursor: pointer;
}

.header_content_area_getHelp:hover{
	color: #e44e56;
	text-decoration: underline;
}

div#mainContent {
	overflow: hidden;
	width: 100%;
	margin-bottom: 50px;
	background: url('../img/img_bg_image.png') no-repeat top;
	position: relative;
}

.tabsAndTabContents{
	margin: 50px auto 0px auto;
	padding: 0;
	width: 950px;
	border: solid 1px #ddd;
	background-color: #f8f7f6;
}

div#tabs {
	float: left;
	width: 230px;
	margin: 0px 0 10px 0px;
	display:inline-block;
}

.tabs_li {
	display:none;
}

div#tabsContent {
	display: block;
	height: 100%;
	margin: 0px 0px 0px 230px;
	background-color: #FFFFFF;
	border-left: solid 1px #ddd;
}

/*
 footer
 */

div#footer {
	background-color: #F5F5F5;
	border-top: 1px solid #DDDDDD;
	height: 79px;
}

.foot_container{
	margin: 0px auto 0px auto;
	overflow: hidden;
	width: 950px;
}

.foot_wording{
	float: left;
	margin-top: 15px;
}

.website_link{
	color: #686868;
	font-size: 13px;
	letter-spacing: -.02em;
	text-decoration: none;
	display: none;
}

.website_link:hover{
	color: #e44e56;
	text-decoration: underline;
}

.copyright{
	margin-top: 15px;
	color: #999999;
	font-size: 11px;
	letter-spacing: -.02em;
}

.logo{
	float: right;
	margin-top: 12px;
}

.IE_LowVersion{
	display: none;
	margin: 70px auto 0px auto;
	padding: 0;
	width: 950px;
}

/*
	this rule is also defined in l10n.css. Change this rule should also change related one in that file.
*/
.IE_LowVersion_wording{
	background-color: #FFFFFF;	
	min-height: 435px;
    height:auto !important; 
    height: 435px;
	font-size: 27px;
	padding: 35px 34px 30px 34px;
	font-family: "Interstate-ExtraLight";
	color: #000000;
}

.topWrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;	
	background-color: #edece8;
}

.push{
	height: 80px;
}
