@media screen and (min-width: 1px) and (max-width: 949px) {
	body {
		min-width: 0px;
		width: 950px;
	}
		
	.header_content_area, .tabsAndTabContents, .IE_LowVersion, .foot_container{
		padding: 0;
		width: 950px;
	}
}

@media screen and (min-width: 950px) {
	body {
		min-width: 0px;
		width: auto;
	}
	
	.header_content_area, .tabsAndTabContents, .IE_LowVersion, .foot_container{
		padding: 0;
		width: 950px;
	}
}
