.share_area {
	margin: 20px 30px 30px 34px;
}

.share_area_hide {
	margin: 90px 30px 30px 34px;
}

.share_title {
	margin: 0px 0px 10px 0px;
	font-size: 13px;
	color: #333333;
	text-align: center;
}

.share_area_noConcern{
	margin: 30px 30px 50px 30px;
}

.share_area_noConcern_hide {
	margin: 50px 30px 50px 30px;
}

.share_title_noConcern{
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	color: #333333;
	text-align: center;
}

.share_icons{
	text-align: center;
}

.share_facebook, .share_twitter, .share_googlePlus, .share_linkedIn {
	cursor: pointer;
	display: inline-block;
}

.share_twitter, .share_googlePlus, .share_linkedIn {
	margin-left: 10px;
}

.share_facebook{
	width: 36px;
	height: 36px;
	background: url('../img/ic_facebook-2.png') no-repeat 0px 0px;
	display: inline-block;
}

.share_facebook:hover{
	width: 36px;
	height: 36px;
	background: url('../img/ic_facebook-2.png') no-repeat 0px -36px;
}

.share_twitter{
	width: 36px;
	height: 36px;
	background: url('../img/ic_twitter.png') no-repeat 0px 0px;
}

.share_twitter:hover{
	width: 36px;
	height: 36px;
	background: url('../img/ic_twitter.png') no-repeat 0px -36px;
}

.share_googlePlus{
	width: 36px;
	height: 36px;
	background: url('../img/ic_google+.png') no-repeat 0px 0px;
}

.share_googlePlus:hover{
	width: 36px;
	height: 36px;
	background: url('../img/ic_google+.png') no-repeat 0px -36px;
}

.share_linkedIn{
	width: 36px;
	height: 36px;
	background: url('../img/ic_linkedin.png') no-repeat 0px 0px;
}

.share_linkedIn:hover{
	width: 36px;
	height: 36px;
	background: url('../img/ic_linkedin.png') no-repeat 0px -36px;
}

.have_no_concerns_title span{
	margin-left: 10px;
}

.have_no_concerns_title span img{
	vertical-align: middle;
}
