/*
 tabs
 */
.SNSArea{
	overflow: hidden;
    padding-bottom: 10px;
}

.notOnlySNS{
	border-bottom: solid 1px #d9d9d9;
}

.SNSAreaTitle{
	margin: 30px 10px 5px 20px;
	text-shadow: 0px 1px rgb(255,255,255); /* IE 8 hack */
	text-shadow: 0px 1px rgba(255,255,255,1);
	color: #999;
	font-size: 13px;
	line-height: 16px;
}

.BrowserArea{
	overflow: hidden;	
	border-top: solid 1px #fff;
	display: none;
}

.BrowserAreaTitle{
	margin: 20px 10px 5px 20px;
	text-shadow: 0px 1px rgb(255,255,255); /* IE 8 hack */
	text-shadow: 0px 1px rgba(255,255,255,1);
	color: #999;
	font-size: 13px;
	line-height: 16px;
}

.tabs_li {
	font-size: 13px;
	color: #555;
	height: 38px;
	position: relative;
	cursor: pointer;
	display: none;
}

.tabs_li:hover {
	color: #222;
}

.tabs_li.selected {
	color: #222;
	font-weight: bold;
	background-color: #ffffff;
	border-top: solid 1px #e6e6e6;
	border-bottom: solid 1px #e6e6e6;
}

.tabs_li > div.content {
	display: block;
	overflow: hidden;
	height: 100%;
	padding: 0px 10px 0px 20px;
}

.tabs_li > div.content.selected {
	border-left: solid 5px #ed1c24;
	padding: 0px 10px 0px 15px;
}

/*
	logo
*/
.tabs_li .logo {
	float: left;
	margin-top: 9px;
	width: 20px;
	height: 20px;
}

/*
	facebook
*/
#tabs_facebook .logo{
	background: url('../img/ic_socialmedia.png') 0px 140px;
}

#tabs_facebook .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 140px;
}

/*
	twitter
*/
#tabs_twitter .logo{
	background: url('../img/ic_socialmedia.png') 0px 100px;
}
#tabs_twitter .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 100px;
}

/*
	google+
*/
#tabs_googlePlus .logo{
	background: url('../img/ic_socialmedia.png') 0px 120px;
}

#tabs_googlePlus .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 120px;
}

/*
	linkedin
*/
#tabs_linkedin .logo{
	background: url('../img/ic_socialmedia.png') 0px 80px;
}

#tabs_linkedin .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 80px;
}

/*
	ie
*/
#tabs_internet_explorer .logo{
	background: url('../img/ic_socialmedia.png') 0px 60px;
}

#tabs_internet_explorer .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 60px;
}

/*
	chrome
*/
#tabs_chrome .logo{
	background: url('../img/ic_socialmedia.png') 0px 40px;
}

#tabs_chrome .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 40px;
}

/*
	firefox
*/
#tabs_firefox .logo{
	background: url('../img/ic_socialmedia.png') 0px 20px;
}

#tabs_firefox .logo_disabled{
	background: url('../img/ic_socialmedia_unactive.png') 0px 20px;
}

/*
	title
*/
.tabs_li div.title {
	float: left;
	margin: 11px 0px 0px 8px;
}

.tabs_li  div.status {
	float: right;
	font-size: 11px;
	color: #FFFFFF;
	height: 16px;
	width: 16px;
	line-height: 16px;
	border-radius: 1px;
	background-color: #ff9900;
	text-align: center;
	margin-top: 11px;
}

.tabs_li div.status.noConcern {
	background-color: #bbb;
}

.tabs_li div.status.unknown {
	color: #999;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border: solid 1px #999;
	line-height: 14px;
}