/* register {{{ */
#logincontainer {
  font: 100%/1.4 "Arial", "Helvetica", sans-serif;
  font-size: small;
  display: none;
}

#register {
  padding: 0 0 10px 0;
  margin: auto;
}

#login-header {
  font-weight: bold;
  background: #f9efcf;
  border: 1px solid #ede2c2;
  margin: 0 0px 10px 0;
  padding: 5px;
  border-radius: 4px; /* Chrome 4 以降で使用可能 */
  color: #71590c;
  text-align: center;
}

.center {
  text-align: center;
}

.bookmark-register-button {
  text-align: center;
  padding: 20px 0 0 0;
}

/* }}} */
